@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav" >
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        @if(User.IsInRole("patient")){
            <a id="manage" class="nav-link" style="color: black; text-decoration:none" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Patient @UserManager.GetUserName(User)!</a>
        }
            @if (User.IsInRole("doctor"))
            {
                <a id="manage" class="nav-link" style="color: black; text-decoration:none" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Doctor @UserManager.GetUserName(User)!</a>
            }
            @if (User.IsInRole("admin"))
            {
                <a id="manage" class="nav-link" style="color: black; text-decoration:none" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Admin @UserManager.GetUserName(User)!</a>
            }
        </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-danger me-3 mt-3" >Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" id="register" style="color: black; text-decoration:none" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" id="login" style="color: black; text-decoration:none" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
