@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ContactUs";
}
    <div class="container-fluid text-center" style=" text-align: center;">

   @*  <div class="row"><img src='{banner2}' alt="Banner Image"></div> *@

    <div class="row mt-4 justify-content-center align-items-center" >

        <div class="col-xs-6 col-md-3">
            <img style="height: 300px;" src="~/css/Images/230940320127.png" alt="Vedant Image" class="rounded">
            <h3>Vedant Sahu</h3>
            <h5>vedantsahu668@gmail.com</h5>
            <h5>9993161044</h5>
        </div>

        <div class="col-xs-6 col-md-3">
            <img style="height: 300px;" src="~/css/Images/230940320014.png" alt="Akhilesh Image" class="rounded">
            <h3>Akhilesh Awachat</h3>
            <h5>akhileshawachat65@gmail.com</h5>
            <h5>9403836501</h5>
        </div>

        <div class="col-xs-6 col-md-3">
            <img style="height: 300px;" src="~/css/Images/230940520028.jpeg" alt="Jay Image" class="rounded">
            <h3>Jay Kadu</h3>
            <h5>jaykadu88@gmail.com</h5>
            <h5>9370217214</h5>
        </div>

    </div>

    <div class="row mt-4 justify-content-center align-items-center" >

        <div class="col-xs-6 col-md-3">
            <img style="height: 300px;" src="~/css/Images/230940320058.jpeg" alt="Lalit Image" class="rounded">
            <h3>Lalit Nanker</h3>
            <h5>nankarlalit7@gmail.com</h5>
            <h5>9993161044</h5>
        </div>

        <div class="col-xs-6 col-md-3">
            <img style="height: 300px;" src="~/css/Images/230940320080.jpg" alt="Prathamesh Image" class="rounded">
            <h3>Prathmesh Lokare</h3>
            <h5>prathamlokare@gmail.com</h5>
            <h5>744767369</h5>
            </div>
            </div>
    </div>


