@{
    ViewData["Title"] = "Home Page";
}
<body class="homeIndex">
<div class="text-center">
    <h5 class="display-4" style="font-size:30px"><i>"Your Health, Our Priority: Navigating Wellness Together"</i></h5>
   <br />

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/css/Images/slider2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/css/Images/slider3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/css/Images/slider4.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br />
    <br />


    <div class="container ">
            <section class="section section-specialities">
                <div class="container-fluid">
                    <div class="section-header text-center">
                        <h2>Clinic and Specialties</h2>
                        <p class="sub-title">Find experienced doctors across all specialties</p>
                        <br>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="specialities d-flex justify-content-around">

                                <a href="/general" style="text-decoration:none">
                                    <div class="speicality-img">
                                        <img src="https://www.quickobook.com/assets/img/specialities/general_physician.png" class="img-fluid" alt="General Physician">
                                    </div>
                                    <p>General Physician</p>
                                </a>

                            <a href="/neuro" style="text-decoration:none">
                                    <div class="speicality-img">
                                        <img src="https://www.quickobook.com/assets/img/specialities/specialities-02.png" class="img-fluid" alt="Neurology">
                                    </div>
                                    <p>Neurology</p>
                                </a>

                            <a href="/urology" style="text-decoration:none">
                                    <div class="speicality-img">
                                        <img src="https://www.quickobook.com/assets/img/specialities/specialities-01.png" class="img-fluid" alt="Urology">
                                    </div>
                                    <p>Urology</p>
                                </a>

                            <a href="/ortho" style="text-decoration:none">
                                    <div class="speicality-img">
                                        <img src="https://www.quickobook.com/assets/img/specialities/specialities-03.png" class="img-fluid" alt="Orthopedic">
                                    </div>
                                    <p>Orthopedic</p>
                                </a>

                            <a href="/cardio" style="text-decoration:none">
                                    <div class="speicality-img">
                                        <img src="https://www.quickobook.com/assets/img/specialities/specialities-04.png" class="img-fluid" alt="Cardiologist">
                                    </div>
                                    <p>Cardiologist</p>
                                </a>

                            <a href="/dentist" style="text-decoration:none">
                                    <div class="speicality-img">
                                        <img src="https://www.quickobook.com/assets/img/specialities/specialities-05.png" class="img-fluid" alt="Dentist">
                                    </div>
                                    <p>Dentist</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <div class="homelastImage">
    </div>



</div>
</body>
